@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins';
    font-size: 16px;
    color: #fff;
    width: 100%;

}

section {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}


#svg path {
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 1px;
    stroke-dasharray: 4500;
    stroke-dashoffset: 4500;
    animation: draw 15s ease forwards;

}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


.intro {
    // display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .intro-msg {
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 10px;
     }
}

.typewriter {
    // display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .typewriter-msg {
        border-right: 2px solid transparent; /* 초기 보더 설정 */
        padding-right: 2px;
        
    }

    .scroll-downs {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
        width :34px;
        height: 55px;

        .mousey {
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 2px solid #fff;
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;
          }

          .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: #fff;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-iteration-count: infinite;
          }
      }
      
      
      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
      }
    
}

.scrollAnimation {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .title-wrap {
        position: absolute;
        z-index: 99;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .about, .me {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

    }

    .content-wrap {
 
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        .back {
            position: absolute;
            z-index: 1;
        }

        .front {
            width: 1440px;
            position: absolute;
            z-index: 2;
        }
    }
}


